<!-- <div class="index-overlay"></div> -->
<div class="index__bg">
    <nav id="navbar">
        <div class="navbar__logo">
            <i class="fas fa-hotel"></i>
            <a href="/">Hotel Finder</a>
        </div>
        <div class="navbar__center__menu" onclick = "showSearchBar()">
            <section id="wrapper-keywords" onclick = "showSearchBar()">
                <div class="searchbar">
                    <form>
                        <div class="keywords_container">
                            <div class="keywords__item" id="location">
                                <input 
                                    type="text"
                                    value='<%= searchKeyword.location %>'
                                    placeholder="Where are you going?"/>
                            </div>
                            <div class="keywords__item" id="checkin">
                                <input 
                                    type="text" 
                                    value='<%= searchKeyword.checkInDate %>'
                                    placeholder="Add dates"/>
                            </div>
                            <div class="keywords__item" id="checkout">
                                <input 
                                    type="text" 
                                    value='<%= searchKeyword.checkOutDate %>'
                                    placeholder="Add dates"/>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="navbar__right__menu">
            <span class="navbar__menu__item">
                <a href="#"><i class="far fa-moon"></i></a>
            </span>
            <span class="navbar__menu__item"><a href="#" onclick="openForm()">Become a host</a></span>
            <%- include('../partials/modal_account') %>
            <span class="navbar__menu__item">
                <a href="#" onclick="showDropDown()" class="dropdown__link">
                    <i class="fas fa-bars"></i>
                    <i class="far fa-user-circle"></i>
                </a>
            </span>
            <%- include('../partials/user_dropdown_menu', {isLoggedIn: isLoggedIn}) %>
        </div>
    </nav>
    <section id="wrapper">
        <div class="searchbar">
            <form action="/" method="post">
                <div class="searchbar_container" >
                    <div class="searchbar__item" id="location" style = "padding-left: 28px;">
                        <label for="searchbar__location">
                            Location
                        </label><br>
                        <input 
                            id="location__searchterm" type="text"
                            name="location" 
                            value='<%= searchKeyword.location %>'
                            placeholder="Where are you going?"/>
                    </div>
                    <div class="searchbar__item" id="checkin">
                        <label for="checkin__date">Check in (option)</label><br>
                        <input readonly type="text" id="checkin__date" value='<%= searchKeyword.checkInDate %>' name="checkin__date" placeholder="Select Check-in date(Optional)"/>
                    </div>
                    <div class="date_container_to searchbar__item" id="checkout">
                        <label for="checkout__date">Check out (option)</label><br>
                        <input readonly type="text" id="checkout__date" value='<%= searchKeyword.checkOutDate %>' name="checkout__date" placeholder="Select Check-out date(Optional)"/>
                    </div>
                    <div class="searchbar__item" id="searchbtn">
                        <button class="submitBtn" type="submit">
                            <i class="fas fa-search-location"></i>
                        </button>
                    </div>
                </div>
                
            </form>
        </div>
    </section>
</div>
<script>
    var keywords = document.querySelector('.keywords_container');
    var searchbar = document.querySelector('.searchbar_container');
    var background = document.querySelector('.index__bg');
    
    function showSearchBar() {
        document.body.classList.add("darkBG");
        console.log('tada open');
        console.log(keywords);
        console.log(searchbar);
        console.log(background);
        console.log(keywords.style);
        console.log(searchbar.style);
        console.log(background.style);
        keywords.style.display = 'none';
        background.style.height = '30vh';
        searchbar.style.display = 'flex';
    }

    function closeSearchBar() {
        document.body.classList.remove("darkBG");
        console.log('tada close');
        console.log(keywords);
        console.log(searchbar);
        console.log(background);
        console.log(keywords.style);
        console.log(searchbar.style);
        console.log(background.style);
        keywords.style.display = 'flex';
        background.style.height = '12.5vh';
        searchbar.style.display = 'none';
    }
</script>
<script>
    $( function() {
        $( function() {
            var dateFormat = "mm/dd/yy",
              from = $( "#checkin__date" )
                .datepicker({
                  defaultDate: "+1w",
                  changeMonth: true,
                  numberOfMonths: 1,
                  minDate: 0
                })
                .on( "change", function() {
                  to.datepicker( "option", "minDate", getDate( this ) );
                }),
              to = $( "#checkout__date" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                minDate: 1
              })
              .on( "change", function() {
                from.datepicker( "option", "maxDate", getDate( this ) );
              });
         
            function getDate( element ) {
              var date;
              try {
                date = $.datepicker.parseDate( dateFormat, element.value );
              } catch( error ) {
                date = null;
              }
         
              return date;
            }
          } );
    } );
</script>