<div class = "popup-overlay"></div>
<%if (stayInWhere == 'login') { %>
<div class = "popup" style = "height: 470px;">
<% } else if (stayInWhere == 'register') { %>
<div class = "popup" style = "height: 620px;">
<% } else if (stayInWhere == 'reset password') { %>
<div class = "popup" style = "height: 500px;">
<% } else { %>
<div class = "popup">
<% } %>
    <!-- Login -->
    <%if (stayInWhere == 'login') { %>
    <div class = "login_form" id = "chosen_login">
    <% } else { %>
    <div class = "login_form" id = "not_chosen_login">
    <% } %>
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/sign_in_icon.png" class="avatar">
        <h1 class = "box_title">Login</h1>
        <span class = "error_message_login"><%= loginMessage %></span>
        <form action="/auth/login" method = "POST" onsubmit="return checkLoginForm(this);">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email" value = '<%= formDataLogin.email %>'>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            
            <br>
            <input type="submit" name="" value="Login" class = "input_submit_login">
            
            <a href="/google/login">Google Sign In</a><br>
            <a href="/facebook/login">Facebook Sign In</a><br>
            <a href="#" onclick = "showResetPassword()">Forgot password?</a><br>
            <a href="#" onclick = "showRegister()">Don't have an account?</a>
        </form>
    </div>
    <!-- Make an if statement to show this message -->
    <div class = "message_login">
        <p>Hello, username. You are logged in</p>
        <a href="#" onclick = "closeForm()"> Got it!</a>
    </div>
    <!-- Register -->
    <% if (stayInWhere == 'register') { %>
    <div class = "register_form" id = "chosen_register">
    <% } else { %>
    <div class = "register_form" id = "not_chosen_register">
    <% } %>
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/register_icon_2.png" class="avatar">
        <h1 class="box_title">Register</h1>
        <span class = "error_message"><%= registerMessage %></span>
        <!-- action = "where you want to call the post request for register" -->
        <form action="/auth/register" method = "POST" onsubmit="return checkRegisterForm(this);">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" value = '<%= formDataRegister.username %>'>
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email" value = '<%= formDataRegister.email %>'>
            <p>Password</p>
            <input type="password" name="newPassword" placeholder="Enter Password" >
            <p>Confirm Password</p>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" >
            <!-- Radio button, figure out the appropiate css -->
            
            <!-- ============ -->
            <input type="submit" name="" value="Make Account" class = "input_submit_register">
            <a href="/google/register">Register with Google</a><br>
            <a href="/facebook/register">Register with Facebook</a><br>
            <span class = "log_in_link">Already have an account? </span><a href="#" onclick = "showLogin()" class = "show_login">Log In</a>
        </form>
    </div>
    <!-- Make an if statement to show this message -->
    <div class = "message_register">
        <p>Your account has been registered, but not confirmed yet. Please check your email and confirm your account</p>
        <a href="#" onclick = "closeForm()"> Got it!</a>
    </div>
    <!-- Reset Password -->
    <%if (stayInWhere == 'reset password') { %>
    <div class = "reset_password_form" id = "chosen_reset_password">
    <% } else { %>
    <div class = "reset_password_form" id = "not_chosen_reset_password">
    <% } %>
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/register_icon_2.png" class="avatar">
        <h1 class = "box_title">Reset Password</h1>
        <span class = "error_message"><%= resetPasswordMessage %></span>
        <form action="/auth/reset_password" method = "POST" onsubmit = "return checkResetPasswordForm(this);">
            <p>Enter your email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>New Password</p>
            <input type="password" name="newPassword" placeholder="Enter Password" >
            <p>Confirm Password</p>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" >
            <input type="submit" name="" value="Change My Password" class = "input_submit_reset_password">
            <span class = "log_in_link">Already have an account? </span><a href="#" onclick = "showLogin()" class = "show_login">Log In</a>
        </form>
    </div>
    <!-- Make an if statement to show this message -->
    <div class = "message_reset_password">
        <p>Your password has been changed. Please check your email for the confirmation.</p>
        <a href="#" onclick = "closeForm()"> Got it!</a>
    </div>
</div>
<script src = "/js/Modal/Modal.js"></script>