<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Component CSS -->
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/modalUserPhoto.css">
    <link rel="stylesheet" href="/css/modalUserProfileLang.css">
    <link rel="stylesheet" href="/css/userTab.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <section class="profile__wrapper">
        <div class="profile__left">
            <div class="profile__left__upper">
                <% if (!user.profile.img || user.profile.img === "default_profile_img") { %>
                    <img class='profile__image' src='images/default_user_profile_img_login.png' id='profile__image__main'/>
                <% } else { %>
                    <img class='profile__image' src="<%= user.profile.imgDom%>" id='profile__image__main'/>
                <% } %>
                <br>
                <a href="#" id="underline" onclick="openForm()">Update photo</a>
                <%- include('../../partials/modal_user_photo', {user: user}) %>
            </div>
            <div class="profile__left__mid">
                <i class="far fa-star"></i> 1 review
                <br>
                <i class="fas fa-hotel"></i> 5 hotels
                <br>
                <i class="fas fa-check-double"></i> Identity verified
            </div>
            <hr/>
            <div class="profile__bottom">
                <div class="profile__bottom__heading">
                    Name of the user confirmed
                </div>
                <i class="fas fa-check"></i> Identity
                <br>
                <i class="fas fa-check"></i> Email address
                <br>
                <i class="fas fa-check"></i> Phone number
                <br>
                <i class="fas fa-check"></i> Work email
                <br>
            </div>
        </div>
        <div class="profile__right">
            <div class="profile__right__heading__wrapper">
                <div class="profile__right__heading">
                    Hi, I'm <%- user.username %>
                </div>
                <form id="user_delete_form" action="/account/<%= user.user_id %>?_method=DELETE" method="POST">
                    <button class="forget__me__btn" onclick="forgetMe()">Forget Me</button>
                </form>
            </div>
            <div class="profile__right__joined">
                Joined in 20xx
            </div>
            <button class="profile__edit__btn" onclick="showForm()">Edit profile</button>
            <section>
                <form id="profileForm" class="profile__edit__form" method="POST" enctype="multipart/form-data">
                    <div class="profile__form__row">
                        <label for="about">
                            <div class="profile__form__heading">About</div>
                            <div class="profile__form__text__wrapper">
                                <textarea name="about" rows="4" autocomplete="off" 
                                    class="profile__form__about" id="about" spellcheck="false" oninput="changeSubmitButton()"></textarea>
                            </div>
                        </label>
                    </div>
                    <div class="profile__form__row">
                        <label for="location">
                            <div class="profile__form__heading">Location</div>
                                <div class="profile__form__text__wrapper">
                                    <input name="location" class="profile__form__location" id="location" 
                                        autocomplete="off" type="text" aria-describedby="" 
                                        value="Someplace on Earth" oninput="changeSubmitButton()">
                                </div>
                        </label>
                    </div>
                    <div class="profile__form__row">
                        <div class="profile__form__heading">Languages I speak</div>
                        <button type="button" class="profile__addmore__btn" onclick="showLangModal()">Add more</button>
                    </div>
                    <div class="profile__form__row">
                        <div class="profile__form__submit__btns">
                            <button type="button" class="profile__cancle__btn" onclick="hideForm()">Cancel</button>
                            <button id="profileSubmit" type="button" disabled="" class="profile__submit__btn" onclick="submitProfile()">Save</input>
                        </div>
                    </div>
                    <hr class="right__divider"/>
                </form>
            </section>
            <div class="profile__right__heading__sub">
                About
            </div>
            <div class="profile__right__about">
                <i class="fas fa-quote-left"></i>
                <span id="profile_about_me">
                    <% if (!user.profile.about) { %>
                        This is about me..
                    <% } else { %>
                    <%= user.profile.about %>
                    <% } %>
                </span>
                <i class="fas fa-quote-right"></i>
                <br>
                <i class="fas fa-home"></i>
                <span id="profile_location">&nbsp;
                    <% if (!user.profile.location) { %>
                        Where do you live?
                    <% } else { %>
                    <%= user.profile.location %>
                    <% } %>
                </span>
                <br>
                <i class="fas fa-comment-alt"></i>
                <span id="profile_languages">&nbsp;Speak 
                    <% if (!user.profile.languages) { %>
                        some language
                    <% } else { %>
                        <%= user.profile.languages %>
                    <% } %>
                </span>
                <br>
            </div>
            <hr class="right__divider"/>
        </div>
    </section>
    <section class="user__tab__wrapper">
        <div class="user__tab__btn__container">
            <button class="user__tab__btn" id="userTabBtnDefault">Reviews/Comments</button>
            <button class="user__tab__btn">Booking History</button>
            <button class="user__tab__btn">Hosting List</button>
        </div>
        <div class="user__tab__panel__container">
            <div class="user__tab__panel" id="userTabPanelDefault">
                <div class="user__tab__panel__reviews" id="comments">
                </div>
            </div>
                
            <div class="user__tab__panel">
                <div class="user__tab__panel__bookinghistory" id="booking_history">
                </div>
            </div>
        
            <div class="user__tab__panel">
                <div class="hotel__postings__panel" id="hotel_posts">
                </div>
            </div>
        </div>
    </section>
    
    <br>
    <script src="/js/Account/forgetme.js" defer></script>
    <script src="/js/User/userProfileFormController.js" defer></script>
    <script src="/js/User/userTabController.js" defer></script>
    <%- include('../../partials/modal_user_profile_lang') %>
    <%- include('../../partials/footer') %>
    
</body>
</html>