<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Index CSS -->
    <!-- Footer CSS -->
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/users.css">
    <!-- User Tab Script -->
    <link rel="stylesheet" type="text/css" href="/css/modalUserPhoto.css">

</head>
<body>
    <!-- <div class="index__bg">
        <nav id="navbar">
            <div class="navbar__logo">
                <i class="fas fa-hotel"></i>
                <a href="/">Hotel Finder</a>
            </div>
            <div class="navbar__center__menu">
                <span class="navbar__menu__item active">
                    <a href="/about/">About Us</a>
                </span>
            </div>
            <div class="navbar__right__menu">
                <span class="navbar__menu__item">
                    <a href="#"><i class="far fa-moon"></i></a>
                </span>
                <span class="navbar__menu__item"><a href="#">Become a host</a></span>
                <span class="navbar__menu__item">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                        <i class="far fa-user-circle"></i>
                    </a>
                </span>
            </div>
        </nav>
    </div> -->
    <section class="profile__wrapper">
        <div class="profile__left">
            <div class="profile__left__upper">
                <%- user.userPhotos[0]%>
                <br>
                <a href="#" id="underline" onclick="openForm()">Update photo</a>
                <%- include('../../partials/modal_user_photo', {user: user}) %>
            </div>
            <div class="profile__left__mid">
                <i class="far fa-star"></i> 1 review
                <br>
                <i class="fas fa-hotel"></i> 5 hotels
                <br>
                <i class="fas fa-check-double"></i> Identity verified
            </div>
            <hr/>
            <div class="profile__bottom">
                <div class="profile__bottom__heading">
                    Name of the user confirmed
                </div>
                <i class="fas fa-check"></i> Identity
                <br>
                <i class="fas fa-check"></i> Email address
                <br>
                <i class="fas fa-check"></i> Phone number
                <br>
                <i class="fas fa-check"></i> Work email
                <br>
            </div>
        </div>
        <div class="profile__right">
            <div class="profile__right__heading">
                Hi, I'm <%- user.username %>
            </div>
            <div class="profile__right__joined">
                Joined in 20xx
            </div>
            <a href=# id="underline">Edit profile</a>
    
            <div class="profile__right__heading__sub">
                About
            </div>
            <div class="profile__right__about">
                <i class="fas fa-home"></i> Lives in Someplace, State
                <br>
                <i class="fas fa-comment-alt"></i> Speaks English, Coreana
                <br>
            </div>
            <hr class="right__divider"/>
        </div>
    </section>
    <section class="user__tab__wrapper">
        <button id="defaultOpen" class="user__tab__link" onclick="openTabMenu('Reviews', this, 'white')">Reviews/Comments</button>
        <button class="user__tab__link" onclick="openTabMenu('BookHistory', this, 'white')">Booking History</button>
        <button class="user__tab__link" onclick="openTabMenu('Hostings', this, 'white')">Hosting List</button>
    
        <div id="Reviews" class="user__tab__content">
            <h3>Reviews</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        
        <div id="BookHistory" class="user__tab__content">
            <h3>BookHistory</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
        </div>

        <div id="Hostings" class="user__tab__content">
            <h3>Hostings</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
        </div>
    </section>
    
    <br>
    <%- include('../../partials/user_tab') %>
    <%- include('../../partials/footer') %>
</body>
</html>