<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search Hotel for Anywhere</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/errorSearchPage.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <!-- Index CSS -->
        <link rel="stylesheet" href="/css/headerPartial.css">
        <!-- Footer CSS -->
        <link rel="stylesheet" href="/css/footer.css">
        <!-- Modal Login CSS -->
        <link rel="stylesheet" type="text/css" href="/css/modal.css">
        <!-- Datepicker -->
        <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
        <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <%- include('../../partials/header') %>
        <div onclick = "closeSearchBar()" style="position: relative; height: 100%; width: 100%;">
            <div class="index-overlay"></div>
            <div class="app" onclick = "closeSearchBar()">
                <h2 style="margin: 0;">Travel the world with HotelFinder</h2>
                <ul class = "hs-country full">
                    <% for(var i = 0; i < hotelCity.length; i++) { %>
                        <li class = "item-country size"> 
                                <img src='<%= hotelCity[i].pictureURL %>' style = "
                                    z-index: 0;
                                    position: relative; 
                                    top: 36px;
                                    height: 190px;
                                    box-shadow: 0 0 2px #000;">
                                <a href="/hotel/searched/<%= hotelCity[i].name %>">
                                <div style = "position: relative;
                                    top: -15px;
                                    border: 1px solid black;
                                    width: 250px;
                                    text-align: center;
                                    background-color: white;
                                    padding: 0.376em;
                                    border-bottom-left-radius: 8px;
                                    border-bottom-right-radius: 8px;
                                    z-index: 0.5;">
                                    <% if (hotelCity[i].name === "") { %>
                                        <p style = "text-decoration: underline;">Country Name Invalid</p>
                                    <% } else { %>
                                        <p><%= hotelCity[i].name %></p>
                                    <% } %> 
                                </div>
                                </a>
                        </li>
                    <% } %>
                </ul>
                <h2 style = "margin-bottom:-35px; margin-top:15px;">Top-rated places to stay</h2>
                <ul class = "hs-top-rated">
                    <span id = "size-of-hotel-rendered" style = "display: none"><%= topRatedHotel.length %></span>
                    <% for(var i = 0; i < topRatedHotel.length; i++) { %>
                        <li class = "item-top-rated size">
                                <% if (topRatedHotel[i].pictures === undefined) { %>
                                    <img src="/images/unavailable-image.jpg">
                                    <br>
                                    Country's name: <%= topRatedHotel[i].hotel_name %> 
                                    <br> 
                                    <%= topRatedHotel[i].city %>, <%= topRatedHotel[i].country %>
                                    <br> 
                                    $<%= topRatedHotel[i].hotel_price %> 
                                    <!-- a href for clickable link -->
                                    <!-- <a href="/hotel/searched/detail/posted/<%= topRatedHotel[i].hotel_id %>"></a> -->
                                <% } else { %>
                                    <div class="slideshow-container" id = "top-rated-slider-<%= i %>">
                                        <% for(var j = 0; j < topRatedHotel[i].pictures.length; j++) { %>
                                            <div class="mySlides fade">
                                                <img src="<%= topRatedHotel[i].pictures[j] %>" style=
                                                "width: 250px; 
                                                height: 175px;
                                                border-radius: 8px;">
                                            </div>
                                        <% } %>  
                                        <a class="prev" onclick="plusSlides(-1, this.parentNode)">&#10094;</a>
                                        <a class="next" onclick="plusSlides(1, this.parentNode)">&#10095;</a>
                                    </div>
                                    <br>
                                    <div style = "position: relative; top: 175px;">
                                        Country's name: <%= topRatedHotel[i].hotel_name %> 
                                        <br> 
                                        <%= topRatedHotel[i].city %>, <%= topRatedHotel[i].country %>
                                        <br> 
                                        $<%= topRatedHotel[i].hotel_price %>  
                                    </div>
                                <% } %>  
                        </li>
                    <% } %>
                </ul>
                
            </div>
        <%- include('../../partials/footer') %>
        <%- include('../../partials/places_api') %>
    </body>
    <!-- Slider for Top Rated -->
    <script src = "/js/HotelSearch/hotelSearchPrice.js"></script>
    <script src = "/js/HotelSearch/hotelSearchImage.js"></script>
    <script src = "/js/errorSearch/Slider.js"></script>
</html> 