<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking</title>
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/hotelSearchedDetail.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <!-- Footer CSS -->
    <link rel="stylesheet" href="/css/footer.css">
    <!-- Stripe -->
    <!-- End of Stripe -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( function() {
                var dateFormat = "mm/dd/yy",
                  from = $( "#from" )
                    .datepicker({
                      defaultDate: "+1w",
                      changeMonth: true,
                      numberOfMonths: 1,
                      minDate: 0
                    })
                    .on( "change", function() {
                      to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                  to = $( "#to" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    minDate: 1
                  })
                  .on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                  });
             
                function getDate( element ) {
                  var date;
                  try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                  } catch( error ) {
                    date = null;
                  }
             
                  return date;
                }
              } );
        } );
    </script>
</head>
<body>
    <!-- Parital Navigation -->
    <%- include('../../partials/navigation') %>
    <!-- End of Partial -->
    <header class="hotelDetail_header">
        <h2 class="hotelDetail_hotelName" data-hotel-label="<%=hotelObj.hotelLabel%>"><%=hotelObj.hotelLabel%></h2>
        <div class="hotelDetail_header_contents">
            <div class="hotelDetail_basicInfo">
                <i data-rate-value="<%=(Number(hotelObj.hotelScore) / 100000).toFixed(3)%>" class="fas fa-star hotel_rating"><%=(hotelObj.hotelScore / 100000).toFixed(3)%></i>
                <p class="hotelDetail_hotelLocation" data-hotel-location="<%=hotelObj.hotelLocationName%>"><%=hotelObj.hotelLocationName%></p>
            </div>
            <div class="hotelDetail_export">
                <i class="fas fa-share-square copyLink">&nbsp; Share
                    <span class="tooltiptext">Click to Copy URL</span>
                </i>
                <i class="far fa-heart heart">
                    <span class="heart_hover_text">Save it to your list. (Require Login)</span>
                </i>
            </div>
        </div>
        <div class="hotelDetail_hotelImages">
            <div class="hoteDetail_hotelImageContainer">
                <div class="hotelDetail_hotelImageBlock">
                    <img class="hotelSearched_detail_big_image" src="https://photo.hotellook.com/image_v2/limit/h<%=hotelObj.hotelId%>_1/660/490.jpg" alt="Hotel Image 1" data-image-id="<%=hotelObj.hotelId%>" data-image-num="1"/>
                </div>
                <div class="hotelDetail_hotelImageGrid">
                    <img class="hotelSearched_detail_small_image" src="https://photo.hotellook.com/image_v2/limit/h<%=hotelObj.hotelId%>_2/360/235.jpg" alt="Hotel Image 2" data-image-id="<%=hotelObj.hotelId%>" data-image-num="2"/>
                    <img class="hotelSearched_detail_small_image" src="https://photo.hotellook.com/image_v2/limit/h<%=hotelObj.hotelId%>_3/360/235.jpg" alt="Hotel Image 3" data-image-id="<%=hotelObj.hotelId%>" data-image-num="3"/>
                    <img class="hotelSearched_detail_small_image" src="https://photo.hotellook.com/image_v2/limit/h<%=hotelObj.hotelId%>_4/360/235.jpg" alt="Hotel Image 4" data-image-id="<%=hotelObj.hotelId%>" data-image-num="4"/>
                    <img class="hotelSearched_detail_small_image" src="https://photo.hotellook.com/image_v2/limit/h<%=hotelObj.hotelId%>_5/360/235.jpg" alt="Hotel Image 5" data-image-id="<%=hotelObj.hotelId%>" data-image-num="5"/>
                    <button class="hotelDetail_moreImage_btn" data-image-hotelId="<%=hotelObj.hotelId%>">
                        <strong>Show All Photos</strong>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!-- User Hotel Booking Section -->
    <section class="hotelDetail_main">
        <main class="hotelDetail_main_userinfo">
            <!-- <form action="#"> -->
                <div class="hotelDetail_main_booking_container">
                    <div class="hotelDetail_booking_header">
                        <h2 class="hotelDetail_header_title">YOUR &nbsp;<span class="hotelDetail_header_subTitle">Information</span></h2>
                        <img class="hotelDetail_header_image" src="https://photo.hotellook.com/image_v2/limit/h<%=hotelObj.hotelId%>_1/330/330.jpg" alt="hotel image">
                        <h3 class="hotelDetail_default_hotelPrice">
                            
                        </h3>
                        <button id="checkout-button" class="hotelDetail_book_btn" data-stripe-id="<%=StripePublicKey%>" data-hotel-id="<%=hotelObj.hotelId%>">Book It</button>
                        <div class="hotelDetail_summary">
                            <ul class="hotelDetail_summary_details">
                                <li>
                                   <small>Selected Room <strong>single</strong> Price: <strong>$0.00</strong></small>
                               </li> 
                               <li>
                                   <small>Number of guest(s) <strong>1:</strong> Price: <strong>$0.00</strong></small>
                               </li>
                            </ul>
                            <h3 class="hotelDetail_summary_totalPrice"></h3>
                        </div>
                    </div>
                    <div class="hotelDetail_userinfo">
                        <div class="hotelDetail_address" data-hotel-address="<%=hotelObj.GEO_Formatted_Address%>">
                            <div class="hotel_address_info_conatiner">
                                <h2>Hotel Address</h2>
                                <p class="hotel_address"><%=hotelObj.GEO_Formatted_Address%></p>
                            </div>
                            <div class="hotel_city_info_container">
                                <h2>City Full Name</h2>
                                <p class="hotel_full_city_country"><%=hotelObj.cityFullName%></p>
                            </div>
                        </div>
                        <div class="hotel_form_group">
                            <section class="hotelInfo_room_section">
                                <h3 class="hotelInfo_room_title">Room Type</h3>
                                <div class="hotel_room_radio_container">
                                    <div>
                                        <input type="radio" name="hotelRoomType" id="single" value="single" checked/>
                                        <label for="Single">Single</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="hotelRoomType" id="deluxe" value="deluxe"/>
                                        <label for="Deluxe">Deluxe</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="hotelRoomType" id="double-double" value="double-double"/>
                                        <label for="Double-Double">Double-Double</label>
                                    </div>
                                </div>
                            </section>
                            <!-- Hotel Guest Select -->
                            <section class="hotelInfo_guest_section">
                                <small class="hotelPeople_title">Guests</small>
                                <div class="hotel_guest_select_option">
                                    <select name="guests" id="guests" class="guests">
                                        <!-- Guest 1 is default no additional price charge -->
                                        <option value="0" selected>Guest 1</option>
                                        <option value="1">Guest 2</option>
                                        <option value="2">Guest 3</option>
                                        <option value="3">Guest 4 or More</option>
                                    </select>
                                </div>
                            </section>
                        </div><br><br>
                        <!-- DATE -->
                        <div class="checkin_out_and_map_container">
                            <div class="date_container">
                                <div class="date_container_from">
                                    <label for="from">From</label><br>
                                    <input readonly type="text" id="from" name="from" value="<%=hotelObj.preSelected_CheckInDate%>" onchange="fillOutSummaryInfo()"><br><br>
                                    <span class="checkDateValidation"></span>
                                </div>
                                <div class="date_container_to">
                                    <label for="to">to</label><br>
                                    <input readonly type="text" id="to" name="to" value="<%=hotelObj.preSelected_CehckOutDate%>" onchange="fillOutSummaryInfo()"><br><br>
                                    <span class="checkDateValidation"></span>
                                </div>
                            </div>
                            <div id="map" style="width: 100%; height: 300px;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
        </main>
    </section>
    <!-- Things to know -->
    <!-- Todo: create tab -->
    <section class="hotelDetail_things_to_know">
        <h2 class="hotelDetail_thingstoKnow_title" data-currency-countryName="<%=weatherData.sys.country%>">Things to know</h2>
        
        <div class="hotelDetail_tab_container">
            <div class="hotelDetail_tab_button_container">
                <button class="hotelDetail_tab_btn" id="hotelDetail_tab_btn_first">Weather</button>
                <button class="hotelDetail_tab_btn">Covid</button>
                <button class="hotelDetail_tab_btn" id="tab_video" data-hotel-city-fullname="<%=hotelObj.cityFullName%>">Video of the City</button>
                <button class="hotelDetail_tab_btn">Currency</button>
            </div>
            <div class="hotelDetail_tab_panel" id="hotelDetail_tab_panel_first">
                <div class="hotelDetail_weather_air_container">
                    <div class="hotelDetail_weather_container">
                        <div class="hotelDetail_weather_leftside">
                            <h3 class="weather_left_title">Current Weather in City</h3>
                            <h2 class="weather_hotel_cityCountry"><%=hotelObj.hotelLocationName%></h2>
                            <img class="weather_left_icon" src="http://openweathermap.org/img/w/<%=weatherData.weather[0].icon%>.png" alt="weather of the city">
                            <p class="weather_left_description"><%=weatherData.weather[0].description%></p>
                            <p class="weather_left_feelslike">Feels like <%=(weatherData.main.feels_like * (9/5) - 459.67).toFixed(2)%>&#8457;</p>
                        </div>
                        <div class="hotelDetail_weather_rightside">
                            <p class="weather_current_temp">Current Temperature(Kelvin): <strong><%=weatherData.main.temp%>&#8490;</strong></p>
                            <p class="weather_current_temp_fahren">Current Temperature(Fahrenheit): <strong><%=(weatherData.main.temp * (9/5) - 459.67).toFixed(2)%>&#8457;</strong></p>
                            <p class="weather_current_temp_celsius">Current Temperature(Celsius): <strong><%=(weatherData.main.temp - 273.15).toFixed(2)%>&#8451;</strong></p>
                            <div class="hotelDetail_weather_wind">
                                <h3>Wind Speed</h3>
                                <i class="fas fa-wind"></i>&nbsp; <strong><%=weatherData.wind.speed%>mph</strong>
                            </div>
                            <div class="hotelDetail_weather_humid">
                                <h3>Humidity</h3>
                                <i class="fas fa-tint-slash"></i>&nbsp; <strong><%=weatherData.main.humidity%>%</strong>
                            </div>
                        </div>
                    </div>
                    <div class="hotelDetail_air_quality_container">
                        <div class="hotelDetail_air_quality_left">
                            <h2 class="hotelDetail_air_quality_title">Air Quality</h2>
                            <i class="face"></i>
                            <p class="hotelDetail_air_quality_value"></p>
                            <p class="hotelDetail_air_quality_index" data-air-quality-index="<%=airQualityData.data.aqi%>">Air Index: <%=airQualityData.data.aqi%></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Covid Panel -->
            <div class="hotelDetail_tab_panel">
                <div class="hotelDetail_covid_header">
                    <h2 class="hotelDetail_covid_countryName"></h2>
                    <small class="hotelDetail_covid_lastupdate" data-weather-countryName="<%=weatherData.sys.country%>"></small>
                </div>
                <div class="chart_data">
                    <canvas id="myChart" class="graph"></canvas>
                </div>
            </div>
            <div class="hotelDetail_tab_panel">
                <video class="hotelDetail_cityVideo_frame" 
                    src="" 
                    width="1218" 
                    height="400" 
                    loop muted 
                    type="video/mp4"
                    controls preload="1">
                </video>
                <div class="video_buttonContainer">
                    <button class="video_show_more_btn">Show More Videos</button>
                </div>
            </div>
            <div class="hotelDetail_tab_panel">
                <div class="hotelDetail_currency_container">
                    <div class="hotelDetail_currency_left">
                        <h2 class="hotelDetail_curreny_default"></h2>
                        <small class="hotelDetail_currency_default_from"></small>
                        <p class="hotelDetail_currency_to"></p>
                        <small class="hotelDetail_currency_lastUpdated"></small>
                    </div>
                    <div class="hotelDetail_currency_right">
                        <h2 class="hotelDetail_currency_right_header">Type the Value and Press Enter to Convert</h2>
                        <div class="hotelDetail_currency_from_top">
                            <p class="currency_top_default"></p>
                            <div class="currency_top_input_container">
                                <i class="fas fa-dollar-sign"></i>&nbsp; 
                                <input class="currency_top_amount" type="text" placeholder="Press Enter when you type amount"/>
                            </div>
                            <span class="currency_validation"></span>
                        </div>
                        <div class="currency_middle_divider">
                            <h1 class="currency_middle">TO</h1>
                        </div>
                        <div class="hotelDetail_currency_to_botton">
                            <p class="currency_bottom_countryCode"></p>
                            <h3 class="current_bottom_result"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section for reviews -->
    <section class="hotelDetail_reviews">
        <h2 class="hotelDetail_reviews_header"><i class="fas fa-star hotelReviewIcon"></i> Reviews (<%=hotelObj.resultDetailHotelAPI.length%>)</h2>
        <% if (hotelObj.resultDetailHotelAPI.length) { %>
            <p class="userRating">User Rate:
                <% for(let i = 1; i < hotelObj.resultDetailHotelAPI.length; i++) { %>
                    <% hotelObj.resultDetailHotelAPI[0].rating += hotelObj.resultDetailHotelAPI[i].rating %>
                <% } %>
                <%=(hotelObj.resultDetailHotelAPI[0].rating / hotelObj.resultDetailHotelAPI.length).toFixed(2)%>
            </p>
            <div class="hotelDetail_reviews_container">
                <% if (hotelObj.resultDetailHotelAPI.length >= 8) { %>
                    <% for (let i = 0; i < 8; i++ ) { %>
                        <div class="hotelDetail_each_review_container">
                            <div class="hotelDetail_each_review_header">
                                <div>
                                    <% if (user_map.get(hotelObj.resultDetailHotelAPI[i].user_id)) { %>
                                        <img class="hotelDetail_each_review_header_image" src="<%=user_map.get(hotelObj.resultDetailHotelAPI[i].user_id)%>" alt="user profile image"/>
                                    <% } else { %>
                                        <img class="hotelDetail_each_review_header_image" src="/images/default_user_profile_img_login.png" alt="default profile image who does not have user image"/>
                                    <% } %>
                                </div>
                                <div class="hotelDetail_each_review_header_content">
                                    <h3 class="hotelDetail_each_review_header_content_username"><%=hotelObj.resultDetailHotelAPI[i].username%></h3>
                                    <p class="hotelDetail_each_review_header_content_date"><%=hotelObj.resultDetailHotelAPI[i].comment_date.toDateString()%></p>
                                </div>
                            </div>
                            <div>
                                <p class="hotelDetail_each_review_comment_content">
                                    <%=hotelObj.resultDetailHotelAPI[i].comment_content%>
                                </p>
                            </div>
                        </div>
                    <% } %>
                    <button class="hotelDetail_review_display_all_button">Show All <%=hotelObj.resultDetailHotelAPI.length%> Reviews</button>
                <% } else { %>
                    <% for (let i = 0; i < hotelObj.resultDetailHotelAPI.length; i++ ) { %>
                        <div class="hotelDetail_each_review_container">
                            <div class="hotelDetail_each_review_header">
                                <div>
                                    <% if (user_map.get(hotelObj.resultDetailHotelAPI[i].user_id)) { %>
                                        <img class="hotelDetail_each_review_header_image" src="<%=user_map.get(hotelObj.resultDetailHotelAPI[i].user_id)%>" alt="user profile image"/>
                                    <% } else { %>
                                        <img class="hotelDetail_each_review_header_image" src="/images/default_user_profile_img_login.png" alt="default profile image who does not have user image"/>
                                    <% } %>
                                </div>
                                <div class="hotelDetail_each_review_header_content">
                                    <h3 class="hotelDetail_each_review_header_content_username"><%=hotelObj.resultDetailHotelAPI[i].username%></h3>
                                    <p class="hotelDetail_each_review_header_content_date"><%=hotelObj.resultDetailHotelAPI[i].comment_date.toDateString()%></p>
                                </div>
                            </div>
                            <div>
                                <p class="hotelDetail_each_review_comment_content">
                                    <%=hotelObj.resultDetailHotelAPI[i].comment_content%>
                                </p>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        <% } else { %>
            <p>Currently there are no reviews of this hotel</p>
        <% } %>
    </section>
    <!-- =============================== -->
    <!-- =========Create Modal========== -->
    <!-- =============================== -->
    <div class="modal" id="myModal">
        <header>
            <span class="close_modal_btn">&times;</span>
            <p class="modal_img_counter"></p>
        </header>
        <i class="fas fa-chevron-circle-left modal-left"></i>
        <main class="modal_image_container">
            <img class="modal_img" src="https://photo.hotellook.com/image_v2/limit/h<%=hotelObj.hotelId%>_2/580/630.jpg" alt="Hotel Image 2" data-modal-hotelId="<%=hotelObj.hotelId%>"/>
        </main>
        <i class="fas fa-chevron-circle-right modal-right"></i>
    </div>

    <div class="video_modal" id='videoModal'>
        <header>
            <span class="close_video_modal_btn">&times;</span>
            <main class="modal_video_container">
                <video 
                    class="modal_video" 
                    src=""
                    loop muted 
                    type="video/mp4"
                    controls preload="1">
                </video>
            </main>
            <ul class="modal_video_navigation">
                
            </ul>
        </header>
    </div>

    <!-- Modal For Review-->
    <% if (hotelObj.resultDetailHotelAPI.length) { %>
        <div class="review_modal" id="reviewModal">
            <header>
                <span class="close_reivew_modal_btn">&times;</span>
            </header>
            <main class="modal_review_container">
                <div class="modal_review_header_container">
                    <h3 class="modal_review_header">
                        <i class="fas fa-star hotelReviewIcon"></i> 
                        <%=(hotelObj.resultDetailHotelAPI[0].rating / hotelObj.resultDetailHotelAPI.length).toFixed(2)%>
                        Reviews (<%=hotelObj.resultDetailHotelAPI.length%>)
                    </h3>
                    <h4 class="modal_review_hotel_name"><%=hotelObj.resultDetailHotelAPI[0].hotel_name%></h4>
                    <h4 class="modal_review_hotel_address"><%=hotelObj.resultDetailHotelAPI[0].address%></h4>
                    <h4 class="modal_review_hotel_city"><%=hotelObj.resultDetailHotelAPI[0].city%></h4>
                    <h4 class="modal_review_hotel_country"><%=hotelObj.resultDetailHotelAPI[0].country%></h4>
                </div>
                <div class="modal_review_lists_all_container">
                    <% for (let i = 0; i < hotelObj.resultDetailHotelAPI.length; i++) { %>
                        <div class="modal_review_each_container">
                            <div class="modal_review_each_header">
                                <div>
                                    <% if (user_map.get(hotelObj.resultDetailHotelAPI[i].user_id)) { %>
                                        <img class="hotelDetail_each_review_header_image" src="<%=user_map.get(hotelObj.resultDetailHotelAPI[i].user_id)%>" alt="user profile image"/>
                                    <% } else { %>
                                        <img class="hotelDetail_each_review_header_image" src="/images/default_user_profile_img_login.png" alt="default profile image who does not have user image"/>
                                    <% } %>
                                </div>
                                <div class="hotelDetail_each_review_header_content">
                                    <h3 class="modal_hotelDetail_each_review_header_content_username"><%=hotelObj.resultDetailHotelAPI[i].username%></h3>
                                    <p class="modal_hotelDetail_each_review_header_content_date"><%=hotelObj.resultDetailHotelAPI[i].comment_date.toDateString()%></p>
                                </div>
                            </div>
                            <div>
                                <p class="modal_hotelDetail_each_review_comment_content">
                                    <%=hotelObj.resultDetailHotelAPI[i].comment_content%>
                                </p>
                            </div>
                            <br>
                            <hr>
                            <br>
                        </div>
                    <% } %>
                </div>
            </main>
        </div>
    <% } %>


    <!-- =============================== -->
    <!-- End of Modal ================== -->
    <!-- =============================== -->
    <br>
    <hr>
    <%- include('../../partials/footer') %>

</body>
<script src="https://checkout.stripe.com/checkout.js" defer></script>
    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    <script>
        const publicStripeKey = "<%=StripePublicKey%>";
    </script>
<script src="/js/HotelDetail/hotelDetailStripePayment.js" defer></script>
<script src="/js/HotelDetail/hotelDetailImageModal.js" defer></script>
<script src="/js/HotelDetail/hotelDetailCopyUrl.js" defer></script>
<script src="/js/HotelDetail/hotelDetailGetPricePerNight.js" defer></script>
<script src="/js/HotelDetail/hotelDetailPriceSummary.js" defer></script>
<script src="/js/HotelDetail/hotelDetailTabController.js" defer></script>
<script src="/js/HotelDetail/hotelDetailReviewModal.js" defer></script>
<!-- Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
<!-- MAP API -->
<script>
    function initMap() {
        let map;
        let address = "<%=hotelObj.GEO_Formatted_Address%>";
	    map = new google.maps.Map(document.getElementById("map"), {
	    	zoom: 14,
	    });
	    const geocoder = new google.maps.Geocoder();
	    geocoder.geocode({
	    	'address': address
	    }, (results, status) => {
	    	if(status == google.maps.GeocoderStatus.OK) {
	    		console.log("It got in OK Status");
	    		console.log("GEO Location: ", results[0].geometry.location);
	    		new google.maps.Marker({
	    		   position: results[0].geometry.location,
	    		   map: map
	    		});
	    		map.setCenter(results[0].geometry.location);
	    	 } else {
	    		 console.log("Something is wrong on your map");
	    	 }
	    });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiccr3QeWOHWRfSzLrNyUzrRX_I1bcZa4&callback=initMap&libraries=&v=weekly">
</script>
</html>