<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Index CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Footer CSS -->
    <link rel="stylesheet" href="/css/footer.css">
    <!-- Modal Login CSS -->
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( function() {
                var dateFormat = "mm/dd/yy",
                  from = $( "#checkin__date" )
                    .datepicker({
                      defaultDate: "+1w",
                      changeMonth: true,
                      numberOfMonths: 1,
                      minDate: 0
                    })
                    .on( "change", function() {
                      to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                  to = $( "#checkout__date" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    minDate: 1
                  })
                  .on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                  });
             
                function getDate( element ) {
                  var date;
                  try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                  } catch( error ) {
                    date = null;
                  }
             
                  return date;
                }
              } );
        } );
    </script>
</head>
<%if (modalStyle == '') { %>
<body>
<% } else { %>
<body class = "showForm">
<% } %>
<!-- <body> -->
  <% if (error_message && error_message.length > 0) { %>
      <div class="index_flash_container_error">
        <h2 class="index_flash_error_message"><%=error_message%></h2>
      </div>
  <% } %>
    <div class="index__bg">
        <nav id="navbar">
            <div class="navbar__logo">
                <i class="fas fa-hotel"></i>
                <a href="/">Hotel Finder</a>
            </div>
            <div class="navbar__center__menu">
                <span class="navbar__menu__item active">
                    <a href="/about/">About Us</a>
                </span>
            </div>
            <div class="navbar__right__menu">
                <span class="navbar__menu__item dark_mode">
                    <a href="#"><i class="far fa-moon"></i></a>
                </span>
                <span class="navbar__menu__item"><a href="#" onclick="openForm()">Become a host</a></span>
                <%- include('../partials/modal_account') %>
                <span class="navbar__menu__item">
                    <a href="#" onclick="showDropDown()" class="dropdown__link">
                        <i class="fas fa-bars"></i>
                        <i class="far fa-user-circle"></i>
                    </a>
                </span>
                <%- include('../partials/user_dropdown_menu', {isLoggedIn: isLoggedIn}) %>
            </div>
        </nav>
        <section id="wrapper">
            <div class="searchbar">
                <form action="/" method="post">
                    <div class="searchbar_container">
                        <div class="searchbar__item" id="location">
                            <label for="searchbar__location">
                                Location
                            </label><br>
                            <input 
                                id="location__searchterm" type="text"
                                name="location" 
                                placeholder="Where are you going?"/>
                        </div>
                        <div class="searchbar__item" id="checkin">
                            <label for="checkin__date">Check in (option)</label><br>
                            <input readonly type="text" id="checkin__date" name="checkin__date" placeholder="Select Check-in date(Optional)"/>
                        </div>
                        <div class="date_container_to searchbar__item" id="checkout">
                            <label for="checkout__date">Check out (option)</label><br>
                            <input readonly type="text" id="checkout__date" name="checkout__date" placeholder="Select Check-out date(Optional)"/>
                        </div>
                        <div class="searchbar__item" id="searchbtn">
                            <button class="submitBtn" type="submit">
                                <i class="fas fa-search-location"></i>
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </section>
    </div>
    <div class="cards">
        <div class="cards__col">
          <div class="card" id="1">
            <div class="image_container">
                <img src="/images/index-tourist-attraction.jpg" alt="Image of the Tourist">
            </div>
            <h3 class="card_title">Search Desired Hotel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, quis.</p>
            <p>Some text</p>
          </div>
        </div>
      
        <div class="cards__col">
          <div class="card" id="2">
            <img src="/images/index-public-transportation.jpg" alt="Image of the public transportation">
            <h3 class="card_title">Public Transportation</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
        
        <div class="cards__col">
          <div class="card" id="3">
            <img src="/images/index-hotel-host.jpg" alt="Image of becoming host">
            <h3 class="card_title">Become Host</h3>
            <p>Post your hotel with simply easy steps</p>
            <p>Register and Login to post your hotel</p>
          </div>
        </div>
        
        <div class="cards__col" id="4">
          <div class="card">
            <img src="/images/index-hotel-api.jpg" alt="Image of Application Programming Interface">
            <h3 class="card_title">Card 4</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
    </div>
    <%- include('../partials/places_api') %>
    <%- include('../partials/footer') %>
</body>
<script src="/js/Index/flashControl.js" defer></script>
</html>