<html>
    <head>
        <title>
            Admin
        </title>
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>
        <div class="navbar">
            <div class="row">
                <div class="column column-30 col-site-title"><a href="#" class="site-title float-left">Hotel Finder Admin</a></div>
                <div class="column column-40 col-search"><a href="#" class="search-btn fa fa-search"></a>
                    <input type="text" name="" value="" placeholder="Search..." />
                </div>
                <div class="column column-30">
                    <div class="user-section">
                        <a href="#">
                        <img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
                        <div class="username">
                            <h4>djemals tbvjdbwj</h4>
                            <p>Administrator</p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- <h1>Hello to the admin</h1>
        <div>
            <ul>
                <li>Able to see all users</li>
                <ul>
                    <li>People who did booking</li>
                    <li>Display data using graph</li>
                    <ul>
                        <li>Based on booking price</li>
                        <li>Based on booking date</li>
                    </ul>
                </ul>
                <li>People who post hotel</li>
                <ul>
                    <li>All posted hotel</li>
                    <li>Display Map data on all hotels where hotel located in world map wise</li>
                    <ul>
                        <li>Hovering map mark, display list of hotel in that country with city and avg price</li>
                    </ul>
                </ul>
            </ul>
        </div>
        <br><br>


        <div>
            <h2>Able to see all users</h2>
            <h5>Notice that these are not admin</h5>
            <ul>
                <% for(let i = 0; i < usersNotAdmin.length; i++) { %>
                    <% if(usersNotAdmin[i].username === '') { %>
                    <li>User does not have username</li>
                    <% } else { %>
                    <li><%= usersNotAdmin[i].username %></li>
                    <% } %>
                    <ul>
                        <li>User ID: <b><%= usersNotAdmin[i].user_id %></b> </li>
                        <li>Email: <b><%= usersNotAdmin[i].email %></b> </li>
                        <% if(usersNotAdmin[i].isConfirmed === 1) { %>
                        <li> <b>User has confirmed the account</b> </li>
                        <% } else { %>
                        <li> <b>User has not confirmed the account</b> </li>
                        <% } %>
                        <% if(usersNotAdmin[i].bookings === undefined) { %>
                        <li> <b>This user does not have booking</b> </li>
                        <% } else { %>
                        <li>Bookings:</li>
                        <ul>
                            <% for(let j = 0; j < usersNotAdmin[i].bookings.length; j++) { %>
                                <li>Booking ID: <%= usersNotAdmin[i].bookings[j].booking_id %></li>
                                <ul>
                                    <li>Booking date: <%= usersNotAdmin[i].bookings[j].booking_date %></li>
                                    <li>Price: $<%= usersNotAdmin[i].bookings[j].booking_price %></li>
                                    <li>Hotel ID: <%= usersNotAdmin[i].bookings[j].hotel_id %></li>
                                    <li>Check-in date: <%= usersNotAdmin[i].bookings[j].check_in_date %></li>
                                    <li>Check-out date: <%= usersNotAdmin[i].bookings[j].check_out_date %></li>
                                </ul>
                            <% } %>
                        </ul>
                        <% } %>
                    </ul>
                    <br>
                <% } %>
            </ul>


        </div> -->
    </body>
</html>